* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, "Helvetica Neue ", Helvetica, Arial, sans-serif;
}
img{
 width: 100%; 
}
header{
  background-image: url('../img/jumbo.png');
  background-size: cover;
}
.container {
  width: 600px;
  margin: 0 auto;
  display: flex;
}


.header-container {
  height: 20px;
  background-color: yellow;
  border: 5px solid black;
  border: dashed;
  text-align: center;
  width: 60%;
  
  
}

.header-container ul{
  display: flex;
  padding: 2px
}


.principal-container-second {

  padding: 40px;
}

.second-container {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  height: 250px;
 
  color: white;
}
.second-container p{
  font-size: 20px
  
}
.button-style{
  border-radius: 30px;
  background-color: white;
  padding: 15px 25px ;
  border: none;
  margin-top: 40px;

}

.principal-container-third {
  display: flex;
  padding: 40px;
}

.third-container-left {
  background-image: url(../img/item1.svg);
  background-size:cover ;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  
  
}

.third-container-right {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  
}

.principal-container-four {
  display: flex;
  padding: 40px;
  background-color: lightgrey;
}

.four-container-left {
  
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
 
}

.four-container-right {
  background-image: url(../img/item2.svg);
  background-size: cover;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  
}


.principal-container-prefive {
  display: flex;
  padding: 40px;
}

.third-container-prefivel {
  background-image: url(../img/item3.svg);
  background-size:cover ;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  
  
}

.third-container-prefiver {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  height: 250px;
  
}



.principal-container-five {
  text-align: center;
  padding: 40px;
  background-color: lightgrey;
}

.five-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: 400px;
  background-image: url(../img/item4-big.svg);
  background-size: cover;
}

.five-section{
  justify-content: center;
  text-align: center;
  margin-top: 380px;
}

.principal-container-six {
    display: flex;
    padding: 40px;
    background-color:rgb(57, 57, 57);
    
  }
  
  .six-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    color:blueviolet
    
    
    ;
  }



  .h-title{
  font-size: medium;
  text-align: left;
  
  
  
 }

  .list-type{
    text-align: left;
    font-size:xx-small ;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    color: white;
  }
.title{
  text-align: left;
  color: blueviolet;
  font-size: xx-small;


}




